@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
    font-family: 'Droid Sans', sans-serif;
    /* font-family: 'Covered By Your Grace', cursive; */
    text-transform: uppercase;
    text-align: center;
    background: url('img/bg.png');
    background-size: cover;
    background-attachment: fixed;
}

circle {
	opacity: 0.8;
}

.vis-container {
}
.bubble-hidden {
	display: none;
}
.category {
  font-size: 2.3em;
}

.toplist li {
	padding: 8px 15px;
	margin: 10px 20px;
	text-align: left;
	border: 2px solid seagreen;
}
.toplist .toplistPercentage {
	float: right;
}
.toplist li:nth-child(1) {
	margin-bottom: 30px;
}
.toplist li:nth-child(3) {
	background: seagreen;
	color: white;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 6px 9px;
  font: 12px sans-serif;
  background: seagreen;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* SLIDES
============================================
*/
/*
essential styles:
these make the slideshow work
*/
#slides{
	position: relative;
	padding: 0px;
	margin: 20px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	padding: 30px;
	box-sizing: border-box;
	background: rgba(255,255,255,0.8);
}
