@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
    font-family: 'Droid Sans', sans-serif;
    /* font-family: 'Covered By Your Grace', cursive; */
    text-transform: uppercase;
    text-align: center;
    background: url('img/bg.png');
    background-size: cover;
}

circle {
	opacity: 0.8;
}

.vis-container {
	background-color: rgba(255,255,255,0.8);
	margin: 30px;
  padding: 30px;
}
.bubble-hidden {
	display: none;
}
.category {
  font-size: 2.3em; 
}

.toplist li {
	padding: 8px 15px;
	margin: 10px 20px;
	text-align: left;
	border: 2px solid seagreen;
}
.toplist .toplistPercentage {
	float: right;
}
.toplist li:nth-child(1) {
	margin-bottom: 30px;
}
.toplist li:nth-child(3) {
	background: seagreen;
	color: white;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;                 
  padding: 6px 9px;             
  font: 12px sans-serif;        
  background: seagreen;
  color: white;
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

/* LEGEND
============================================
*/
.legend {
  text-align: left;
}
.legend li {
  margin: 3px 0;
}
.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 100%;
}
